.user-load-card {
  width: 100%;
  padding: 20px; }
  .user-load-card > .content {
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    border-radius: 4px;
    align-items: center; }
    .user-load-card > .content .user-avatar {
      width: 100px;
      height: 100px;
      background: linear-gradient(270deg, #dbdbdb, #C0C0C0);
      background-size: 400% 400%;
      -webkit-animation: shinny-background 5s ease infinite;
      -moz-animation: shinny-background 5s ease infinite;
      animation: shinny-background 5s ease infinite;
      border-radius: 4px;
      margin-right: 20px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); }
    .user-load-card > .content .user-info {
      height: 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
      .user-load-card > .content .user-info .row {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 15px;
        background: linear-gradient(270deg, #dbdbdb, #C0C0C0);
        background-size: 400% 400%;
        -webkit-animation: shinny-background 5s ease infinite;
        -moz-animation: shinny-background 5s ease infinite;
        animation: shinny-background 5s ease infinite;
        margin-bottom: 10px; }
        .user-load-card > .content .user-info .row.title {
          width: 10%; }
        .user-load-card > .content .user-info .row:last-child {
          margin-bottom: 0; }
    @media (max-width: 375px) {
      .user-load-card > .content .user-info {
        width: 40%; }
        .user-load-card > .content .user-info .row {
          display: flex;
          flex-direction: column;
          width: 80%; }
          .user-load-card > .content .user-info .row.title {
            width: 60%; } }
    @media (max-width: 667px) {
      .user-load-card > .content .user-info {
        width: 40%; }
        .user-load-card > .content .user-info .row {
          display: flex;
          flex-direction: column;
          width: 80%; }
          .user-load-card > .content .user-info .row.title {
            width: 60%; } }

.repo-load-card {
  width: 33.33%;
  max-width: 100%;
  padding: 20px; }
  @media (max-width: 375px) {
    .repo-load-card {
      width: 100%; } }
  @media (max-width: 667px) {
    .repo-load-card {
      width: 100%; } }
  .repo-load-card > .content {
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    border-radius: 4px; }
    @media (max-width: 375px) {
      .repo-load-card > .content {
        border-radius: 0; } }
    @media (max-width: 667px) {
      .repo-load-card > .content {
        border-radius: 0; } }
    .repo-load-card > .content .row {
      width: 50%;
      height: 15px;
      background: linear-gradient(270deg, #dbdbdb, #C0C0C0);
      background-size: 400% 400%;
      -webkit-animation: shinny-background 5s ease infinite;
      -moz-animation: shinny-background 5s ease infinite;
      animation: shinny-background 5s ease infinite;
      margin-bottom: 10px; }
      .repo-load-card > .content .row.repo-description {
        width: 80%; }
      .repo-load-card > .content .row:last-child {
        margin-bottom: 0; }

@-webkit-keyframes shinny-background {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes shinny-background {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes shinny-background {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
