#user{
  width: 600px;
  margin: 0 auto;
  max-width: 80%;
  margin-top: 40px;

  .info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-flow: center;

    .name{
      align-self: flex-start;
      width: 50%;
    }

    .xp{
      align-self: flex-end;
      width: 50%;
      text-align: right;
    }

  }

  button{
    text-transform: uppercase !important;
    font-size: 11px !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
