#user {
  width: 600px;
  margin: 0 auto;
  max-width: 80%;
  margin-top: 80px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 20px;

  .info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .name, .xp{
      width: 50%;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .name {
      align-self: flex-start;
    }

    .xp {
      align-self: flex-end;
      text-align: right;
    }

    .description{
      width: 100%;
    }
  }

  .actions{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
