#Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);

  .element {
    padding: 20px;
    cursor: pointer;

    &.current {
      color: #FF8E53;
    }
  }
}
